<div class="row">
  <div class="col-sm-4">
    <div style="margin-bottom:1rem;">
      <div style="margin-bottom:2rem;">
        <h6>Channels</h6>
        <%= link_to "Create a new channel", new_channel_path %>
      </div>
    </div>
    <% Channel.all.each do |channel| %>
     <%= link_to channel.name, channel %>
     <% if current_user.channels.include?(channel) %>
      <%= link_to "- Leave channel", channel_channel_user_path(channel), method: :delete %>
     <% end %>
    <% end %>
    <hr/>

    <% @channel.users.each do |user| %>
      <div>
        <%= user.email %>
      </div>
    <% end %>
  </div>
  <div class="col-sm-6">
    <% if current_user.channels.include?(@channel) %>
      
    <% else %>
      <%= link_to "+ Join #{@channel.name}", channel_channel_user_path(@channel), method: :post %>
    <% end %>
  </div>
</div>