<p id="notice"><%= notice %></p>

<div class="container">
  <div class="row">
    <div class="col">
      <% unless current_user.meetings.any? %>
        <%= link_to 'New Meeting', new_meeting_path %>
      <% else %>
        <h1>Meetings</h1>
        <ul class="nav nav-pills nav-fill">
          <li class="nav-item">
            <%= link_to '#all-meetings', class: 'nav-link active' do %>
              All Meetings
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to '#calendar', class: 'nav-link' do %>
              Meeting Calendar
            <% end %>
          </li>
        </ul>
        <div id="all-meetings" class="tab-panel">
          <%= render partial: "all_meetings", locals: { meetings: @meetings } %>
        </div>

        <div id="calendar" class="tab-panel active">
          <h2>Meeting Calendar</h2>
          <div id="meeting-calendar">
            <%= render partial: "calendar", locals: { meetings: @meetings } %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

