<p>
  <strong>Name:</strong>
  <%= @meeting.name %>
</p>

<p>
  <strong>Start time:</strong>
  <%= @meeting.start_time %>
</p>

<p>
  <strong>End time:</strong>
  <%= @meeting.end_time %>
</p>

<% unless user_signed_in? %>
  <%= link_to "Login", new_user_session_path() %>
<% else %>
  <%#= render partial: "comments/form" %>
<% end %>

<div>
  <%= render partial: "comments/comments", locals: {commentable: @meeting} %>
  <%= render partial: "comments/form", locals: {commentable: @meeting} %>
</div>


<%= link_to 'Edit', edit_meeting_path(@meeting) %> |
<%= link_to 'Back', meetings_path %>
