<p id="notice"><%= notice %></p>

<p>
  <strong>Received:</strong>
  <%= @fb_message.received %>
</p>

<p>
  <strong>Reply:</strong>
  <%= @fb_message.reply %>
</p>

<%= link_to 'Edit', edit_fb_message_path(@fb_message) %> |
<%= link_to 'Back', fb_messages_path %>
